<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="30 seconds" debug="false">
    <property name="LOG_HOME" value="note" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>-->
        <encoder>
            <pattern>%d|%-5level|%thread|%caller{1}%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="system" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>-->
        <encoder>
            <pattern>%d|%-5level|%thread|%caller{1}%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/log/system/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="system"/>
    </root>
    <appender name="gameServerConsole" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d|%-5level|%thread|%caller{1}%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/log/console/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="ConsoleLogger" additivity="false">
        <!--使用哪一个Appender-->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="gameServerConsole" />

    </logger>

</configuration>